* {font-family: roboto;
    margin: 0px;
    padding: 0px;}

.imgbox {outline-color: green;
         outline-width: 3px;}
.header1, .footer1, .abovefold {background-color: #1F2937; 
                    display:flex;
                    font-size: 18px;
                    color: #E5E7EB;
                    padding-top: 20px;
                    }

.headline-text   {font-size: 18px;
                    font-style: extra-bold;
                    color: #F9FAF8;
                    flex:1;}                 
.headerlogo {font-size: 24px;}
.headerlinks {display:flex;
              justify-content: flex-end;}       
.header1 {justify-content: space-between; }

.container-spaces1, .container-spaces2 {margin-right:200px;
                    margin-left:200px;}

.abovefold {
						display: flex;
						margin-top: 50px;
						margin-bottom: 50px;
						height: 182px;
					}
.abovefold-bg {background-color: #1F2937;
                padding-bottom:20px;}

.hl1, .hl2, .hl3 {
                    padding-left: 20px;
                    padding-right: 20px;
                    }

.img-plc {display:flex;
    flex:1;
    background-color: grey;
            }

.one, .two, .three {
	/* border-color: red; */
	background-color: greenyellow;
	height: 98px;
	width: 440px;
	border: 4px solid pink;
}

.flex-container {
	margin: 10px;
	padding: 10px;
	width: auto;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
}

.button {
	background-color: #0058ff;
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 10px;
	margin-top: 10px;
}

.infoheadtxt {
	font-weight: bolder;
	font-size: 36px;
	display: flex;
	justify-content: center;
	margin: 40px;
}

.imgbox {
	height: 129px;
	border: 4px solid #3882F6;
	/* width: 94px; */
	margin: 10px 25px;
	border-radius: 15px;
}

.\34 box {
	display: flex;
	padding-bottom: 100px;
}
.quotebox {
	padding: 100px 200px;
	background-color: #E5E7F6;
	
	color: #1f2937;
	
}

.attribute {
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	font-size: x-large;
	padding-right: 20px;
}

.quote {
	font-style: italic;
	font-size: 36px;
	font-weight: 300;
}

.subtext {margin: 10px 25px;
	text-align:center;

}